
/* Header */
.heading {
    font-size: 50px;
    font-weight: bold;
    color: red;
    text-shadow: 2px 2px 2px #1C6EA4;
    text-align: center;
}

/* Navigation */

ul {
    width: 90%;
    margin: auto;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: aqua;
    text-transform: uppercase;
}

nav a:visited {
    color: blue;
}

nav a:hover {
    color: darkslategray;
    font-weight: bold;
}

/* Main section */
#main {
    font-size: 20px;
    padding: 10px;
    margin: 20px;
    line-height: 1.5em;
    background-color: lightslategray;
    color: white;
    float: left;
    width: 95%;
}

#main p {
    width: 60%;
}

#main aside {
    margin-top: 200px;
    width: 30%;
}


ul > li {
    display: inline;
    padding: 0 40px 0 40px; 
    font-size: 25px;
    font-weight: bold;
}

/* Article */
.forecast {
    margin-top: 650px;
    padding: .3rem;
    background-color: #eee;
    font: 1rem 'Fira Sans', sans-serif;

}

.forecast > h1,
.day-forecast {
    margin: .5rem;
    padding: .3rem;
    font-size: 1.2rem;
}

.day-forecast {
    background: right/contain content-box border-box no-repeat
        url('/media/examples/rain.svg') white;
}

.day-forecast > h2,
.day-forecast > p {
    margin: .2rem;
    font-size: 1rem;
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: blue;
    color: #fff;
    font-weight: bold;
    width: 100%;
}

/* Aside element */
aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
}

aside > p {
    margin: .5rem;
}

p {
    font-family: 'Fira Sans', sans-serif;
}
