
/* Header */
.heading {
    font-size: 50px;
    font-weight: bold;
    color: red;
    text-shadow: 2px 2px 2px #1C6EA4;
    text-align: center;
}

/* Navigation */

ul {
    width: 90%;
    margin: auto;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: aqua;
    text-transform: uppercase;
}

nav a:visited {
    color: blue;
}

nav a:hover {
    color: darkslategray;
    font-weight: bold;
}

/* Main section */
#main {
    font-size: 20px;
    padding: 10px;
    margin: 20px;
    line-height: 1.5em;
    background-color: lightslategray;
    color: white;
}

ul > li {
    display: inline;
    padding: 0 40px 0 40px; 
    font-size: 25px;
    font-weight: bold;
}

.forecast {
    margin: 0;
    padding: .3rem;
    background-color: #eee;
    font: 1rem 'Fira Sans', sans-serif;
}

.forecast > h1,
.day-forecast {
    margin: .5rem;
    padding: .3rem;
    font-size: 1.2rem;
}

.day-forecast {
    background: right/contain content-box border-box no-repeat
        url('/media/examples/rain.svg') white;
}

.day-forecast > h2,
.day-forecast > p {
    margin: .2rem;
    font-size: 1rem;
}
